:root {
    font-family: "Anek Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 105;

    --primary_white_color: #FDFBF6;
    --secondary_white_color: #d4d4d4;
    --primary_dark_color: rgb(26, 26, 26);
    --crimson_color: rgb(167, 38, 70);
    --crimson_color_two: rgb(214, 40, 84);
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary_dark_color);

}

a {
    text-decoration: none;
}

/* header div */
.banner_div {
    background-color: transparent;
    background-image: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(67, 67, 67, 1) 85%);

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

/* mushroom img at header */
.mushroom_div {
    position: relative;
    width: auto;
    height: auto;
}

.test {
    opacity: 0;
    z-index: 0;
    width: 85vw;
    transform: rotateY(0deg) rotateZ(0deg) translateX(0px);
}

.mushroom_img {
    opacity: 1;
    z-index: 0;
    width: 85vw;
    transform: rotateY(0deg) rotateZ(0deg) translateX(0px);
}


/* header name container */
.text_container {
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: 1;
    color: var(--primary_white_color);
    white-space: nowrap;
}

.text_container_responsive {
    display: none;
}

/* matias ayesa NAME */
.banner_name {
    font-size: 3.5rem;
}

/* subtitle */
.banner_subtitle {
    position: absolute;
    bottom: 6%;
    font-weight: 300;
}

/* LEARN MORE */
.learn_more {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    font-weight: 700;
    font-size: 0.8rem;

    padding: 0.9rem 1.9rem 0.9rem 1.9rem;
    margin-top: 2rem;

    border: 1.9px outset var(--primary_white_color);
    color: var(--primary_white_color);

    background-color: transparent;
    background-image: linear-gradient(40deg, rgba(67, 67, 67, 1) 50%, rgb(18, 1, 1) 110%);
    background-size: 200% 100%;
    transition: background-position 1s ease;
    cursor: pointer;
}

.learn_more:hover {
    background-position: top;
}

/* MAIN about me, projects and contact info container */
.main {
    color: var(--secondary_white_color);
    margin: 0 15% 0 15%;
}

/* about me container */
.aboutme_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


    text-align: center;
}

.aboutme_title {
    position: relative;
    margin-top: 4.2rem;
    top: 10px;
    font-weight: 550;
    font-size: 2.5rem;
}

.aboutme_text {
    font-weight: 400;
    position: relative;
    bottom: 1.2rem;
    line-height: 1.7rem;
}

/* projects container */
.projects_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-bottom: 2.5rem;

    text-align: center;
}

.projects_title {
    position: relative;
    margin-top: 2.5rem;
    top: 15px;
    font-weight: 550;
    font-size: 2.5rem;
}

.project_first,
.project_second,
.project_third,
.project_fourth {
    position: relative;
    font-weight: 400;
    line-height: 2rem;
    color: var(--secondary_white_color);
}

.project_first::after,
.project_second::after,
.project_third::after,
.project_fourth::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background-color: var(--crimson_color_two);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
}

.project_first:hover::after,
.project_second:hover::after,
.project_third:hover::after,
.project_fourth:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* contact information container */
.contact_title_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.contact_title {
    position: relative;
    top: 10px;
    font-weight: 550;
    font-size: 2.5rem;
    color: var(--secondary_white_color);
}

.icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 4rem;
}

.contact_icon_github,
.contact_icon_linkedin,
.contact_icon_email,
.contact_icon_spotify,
.contact_icon_discord {
    display: inline-block;
    padding: 0rem 1.5rem;
    color: var(--crimson_color);
}

/* FOOTER container*/
.footer_div {
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.footer_p {
    color: var(--secondary_white_color);
    font-size: small;
}

.footer_a {
    color: var(--primary_white_color);
    transition: color 0.5s ease;
}

.footer_a:hover {
    color: var(--crimson_color);
}

.clipboard {
    margin-right: 0.3rem;
    margin-left: 0.1rem;
    color: var(--crimson_color);
}

.swal-content2 {
    text-align: center;
    align-items: center;
    transform: translateY(0.2rem);
}


@media screen and (max-width: 1362px) {

    .text_container {
        left: 10%;
        top: 20%;
    }

    .banner_name {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 960px) {
    .banner_name {
        font-size: 2rem;
    }

    .banner_subtitle {
        font-size: 0.8rem;
    }

    .learn_more {
        font-size: 0.6rem;
        padding: 0.8rem 1.8rem 0.8rem 1.8rem
    }

    .text_container {
        left: 7%;
    }

    .main {
        font-size: 90%;
    }

    .aboutme_title {
        font-size: 2.2rem;
    }

    .projects_title {
        font-size: 2.2rem;
    }

    .contact_title {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 768px) {
    #body {
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(26, 26, 26) 18%);
    }


    .banner_div {
        background-image: none;
    }

    .main {
        margin: 0 3% 0 3%;
        background-color: transparent;

    }

    .mushroom_div {
        margin-top: 4%;
        transform: translateX(-20%);
    }

    .text_container {
        display: none;
    }

    .text_container_responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        text-align: center;
    }

    .banner_name_responsive {
        position: relative;
        margin-top: 3rem;
        top: 10px;
        font-weight: 550;
        font-size: 2.2rem;
    }

    .banner_subtitle_responsive {
        font-weight: 400;
        position: relative;
        bottom: 1.2rem;
        line-height: 1.7rem;
    }

    .aboutme_title {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 507px) {
    .footer_a {
        display: none;
    }

    #clipboard {
        display: none;
    }
}

@media screen and (max-width: 381px) {
    .icon_div {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .contact_icon_discord {
        margin-left: 3rem
    }

    .contact_icon_spotify {
        margin-right: 3.3rem;
    }
}